body {
    background-color: lightgreen;
  }
  
  h1 {
    color: black;
    text-align: center;
    font-family: serif;
  }

  h5 {
    color: red;
    text-align: center;
    font-family: serif;
  }
  
  p {
    font-family: serif;
    font-size: 20px;
  }